.cell {
    width: 300px;
    height: 150px;

    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;

    padding: 10px;

    overflow: hidden;
}

.header {
    width: 100%;
}

.body {
    display: flex;
    gap: 10px;
    flex: 1 0 auto;
}

.imageContainer {
    flex: 0 1 60px;
    position: relative;
}

.container {
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.image {
    width: 100%;
    height: 100%;
    display: block;
}

.level {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0;

    background-color: rgba(255, 0, 0, 0.274);
}

.column {
    flex: 1 1 auto;
}

.effects {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 5px;
}

.selected {
    background-color: lightskyblue;
}

.availiable {
    background-color: rgb(247, 151, 151);
}

.target {
    background-color: rgb(244, 109, 109);
}

.effect {
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
}

.effectRed {
    color: red;
}

.effectGreen {
    color: green;
}

.dead {
    background-color: grey;
}

/* .imageContainer {
    width: 100px;
    height: 100px;
    position: relative;
}

.image {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 0;
}

.unit {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.paralyzed {
    background-color: chocolate;
}

.selected {
    background: lightblue;
}

.availiable {
    background-color: red;
}

.target {
    background-color: cornflowerblue;
}

.dead {
    background-color: grey;
}

.level {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100px;
    height: 0;
    background-color: rgba(146, 34, 34, 0.5);
} */
