.cell {
    width: 100%;
    aspect-ratio: 3 / 1;

    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;

    position: relative;

    padding: 10px;

    overflow: hidden;
}

.death {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.7);
    z-index: 5;
    color: #fff;

    font-weight: 600;

    transform: translateY(100%);

    transition: transform .2s ease;

    border: 1px solid #fff;
}

.death img {
    max-width: 70px;
}

.active {
    transform: translateY(0);
}

.header {
    width: 100%;
}

.header h3 {
    font-size: 14px;
}

.body {
    display: flex;
    gap: 10px;
    flex: 1 0 auto;
    font-size: 13px;
}

.imageContainer {
    flex: 0 1 15%;
    position: relative;
}

.container {
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.image {
    width: 100%;
    height: 100%;
    display: block;
}

.level {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0;

    background-color: rgba(255, 0, 0, 0.274);
}

.column {
    flex: 1 1 auto;
}

.effects {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 5px;
}

.selected {
    background-color: lightskyblue;
}

.availiable {
    background-color: rgb(247, 151, 151);
}

.target {
    background-color: rgb(244, 109, 109);
}

.effect {
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
}

.effectRed {
    color: red;
}

.effectGreen {
    color: green;
}

.dead {
    background-color: grey;
}