* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;

    height: 100%;
    width: 100%;
}

.queue {
    display: flex;
    gap: 10px;
    max-width: 1000px;
    margin: 0 auto;
}

.queue__element {
    margin: 0 auto;
    flex: 0 0 calc(1000px / 12);
}

.queue__element img {
    max-width: 100%;
}

.red-outline {
    border: 3px solid red;
}

.green-outline {
    border: 3px solid green;
}

.board {
    width: 900px;

    margin: 0 auto;
    border: 1px solid black;

    display: grid;
    grid-template-columns: repeat(3, 300px);
}

.cell {
    width: 300px;
    height: 100px;

    border: 1px solid black;

    display: flex;
    align-items: center;

    position: relative;
}

.cell-image {
    width: 300px;
    height: 100px;
}

.cell-unit {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.cell-image img {
    max-width: 100%;
    height: 100%;
    /* object-fit: cover; */
    position: relative;
    z-index: 0;
}

.selected {
    background-color: lightblue;
}

.availiable::after {
    content: "";
    width: 15px;
    height: 15px;

    border-radius: 50%;

    background-color: lightblue;
}

.paralyzed {
    background-color: chocolate;
}

.availiable_unit {
    background-color: red;
}

.controls {
    display: flex;
    max-width: fit-content;
    margin: 0 auto;
    gap: 15px;
    margin-top: 10px;
}

.button {
    all: unset;
    padding: 10px 15px;
    background-color: aquamarine;
    cursor: pointer;
}

.button:hover {
    background-color: aqua;
}

.target {
    background-color: cornflowerblue;
}

.dead {
    background-color: grey;
}
